/*reset stuff*/
*{
    padding:0;
    margin:0;
}
body, html {
    height: 100%;
}
/*CSS3 defines two types of gradients:
•Linear Gradients (goes down/up/left/right/diagonally)
•Radial Gradients (defined by their center)*/
.nav-color {
    background: linear-gradient(rgba(128, 128, 128, 0.95),rgba(128, 128, 128, 0.95),rgba(128, 128, 128, 0.95));
}
.nav-links li a{
    color:white;
    font-weight:bold;
    font-size:18px;
}     
.nav-links > li> a:hover{
 background-color:rgba(148, 90, 90, 0.99);
 border-radius:5px;
}
.nav-links > li > a:focus {
 background-color:rgba(219, 23, 23, 0.90);
 border-radius:5px;
}
.nav-links-active {
 background-color:rgba(219, 23, 23, 0.90);
 border-radius:5px;
}
.nav-logo {
    background:linear-gradient(rgba(217, 98, 98, 0.70),rgba(217, 98, 98, 0.70),rgba(217, 37, 37, 0.67));
}
.nav-logo a{
    color:white;
}
.nav-logo a:hover{
    color:white;
}
.logo-name{
font-family: 'Goudy Bookletter 1911', serif;
color: aliceblue;
font-size: 30px;
text-shadow: 3px 3px 3px rgba(219, 23, 23, 0.90);
padding: 0px 11px 0px 17px;
}
.logo-icon{
height: 50px;
margin: -0px -5px 0px 0px;
width: 18px;
}
.parallax{
    background-image: url("Pics/images.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    z-index:-10;
}
.parallax-content {
    z-index:1;
    padding:45px 10px 10px 10px;
    height:100%;
}
/* buttons */
.circleBtn{
   
    font-weight:bold;
    display:block;
    border-radius:30px;
    border-top: 7px solid rgba(217, 20, 20, 0.67);
    border-right: 7px solid rgba(217, 20, 20, 0.67);
    border-left: 7px solid rgba(217, 20, 20, 0.67);
    border-bottom: 0px solid rgba(217, 20, 20, 0.67);


    padding:30px 10px;
    color:white;
    background-color:rgba(232, 230, 230, 0.00);
}
.circleBtn:hover{
    font-weight:bold;
    border-radius:30px;
    border-top: 7px solid black;
    border-right: 7px solid black;
    border-left: 7px solid black;
    border-bottom: 0px solid rgba(217, 20, 20, 0.67);
    padding:30px 10px;
    color: #f3e7e7;
    box-shadow: 1px 1px 32px -11px 
    /*background: radial-gradient(rgba(213, 176, 87, 0.60),rgba(219, 14, 14, 0.65),rgba(219, 14, 14, 0.65));*/
}
.circleBtnUp{
   
    font-weight:bold;
    display:block;
    border-radius:30px;
    border-right: 7px solid rgba(217, 20, 20, 0.67);
    border-left: 7px solid rgba(217, 20, 20, 0.67);
    border-top: 0px solid rgba(217, 20, 20, 0.67);
    border-bottom: 7px solid rgba(217, 20, 20, 0.67);



    padding:30px 10px;
    color:white;
    background-color:rgba(232, 230, 230, 0.00);
}
.circleBtnUp:hover{
    font-weight:bold;
    border-radius:30px;
    border-bottom: 7px solid black;
    border-top: 0px solid rgba(217, 20, 20, 0.67);
    border-right: 7px solid black;
    border-left: 7px solid black;
    padding:30px 10px;
    color: #f3e7e7;
    box-shadow: 1px 1px 32px -11px 
    /*background: radial-gradient(rgba(213, 176, 87, 0.60),rgba(219, 14, 14, 0.65),rgba(219, 14, 14, 0.65));*/
}
/* product katana item */
.prodKatanaItem{
margin: 10px 0px;
font-family: Adobe fuckishia;
text-align: center;
font-size: 14px;
padding: 0px;
text-shadow: 1px 2px 2px #8a8282;
box-shadow: 0px 0px 11px -4px #2b2c54;
background-color:white;
    -moz-transition: width ease-out 0.5s , background-color ease-in 1s ;

}
.prodKatanaItem:hover {
        background: linear-gradient(rgba(217, 98, 98, 0.70),rgba(217, 98, 98, 0.70),rgba(217, 37, 37, 0.67));
        color: white;
        text-shadow: 3px 3px 3px black;
        -moz-transition: all ease-out 0.5s;
        -webkit-transition: all ease-out 0.5s;
        -moz-transition: width ease-out 0.5s, background-color ease-out 1s;
}
.prodKatanaItem:focus {
        background: linear-gradient(rgba(217, 98, 98, 0.70),rgba(217, 98, 98, 0.70),rgba(217, 37, 37, 0.67));
        color: white;
        text-shadow: 3px 3px 3px black;
}
.SamuraiCodeItem {
margin:10px;
border-radius: 10px;
/*background-color: rgba(13, 94, 162, 0.34);*/
font-size: 18px;
text-align: left;
text-shadow: 3px 3px 0px rgba(102, 79, 79, 0.80);
}
/*carsoule roundness*/
.roundcarousel{
    border-radius:50px 0px 50px 0px;
   box-shadow: 0px 0px 15px 1px #c68888;
}
.roundcarousel-rightControl{
    border-radius: 0px 0px 50px 0px;
}
.roundcarousel-leftControl{
    border-radius:50px 0px 0px 0px;
}
.footer{
    padding:50px;
}
.footer-col{
   font-size: 17px;
}
.product{

}
.detailsBtn{
    width:100%;
}
/* customizations to Modal */
body .modal {
    /* new custom width */
    width: 100%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: 40px 0px 0px 0px;
}
/* end of customiztions to modal*/
/* left sec lists*/
.list-group li{
    background: linear-gradient(rgba(213, 158, 158, 0.92),rgba(213, 158, 158, 0.92),rgba(213, 158, 158, 0.92));
    font-size: 20px;
    /*text-shadow: 3px 3px 3px white;*/
    text-shadow: 3px 1px 2px #c58c8c;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}  
.list-group > li:hover,.list-group > li:active,.list-group-item-success{
    background:linear-gradient(rgba(217, 98, 98, 0.70),rgba(217, 98, 98, 0.70),rgba(217, 37, 37, 0.67));
    color:white;
    text-shadow: 3px 3px 3px black;
}